@import "normalize.css";
html {
    scroll-behavior: smooth;
}
h1, h2, h3, h4, h5 {
    margin: 0;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: #A8D4EF;
    font-family: 'Sarabun', sans-serif;

    min-height: 100vw;
    display: flex;
    flex-direction: column;
}

main {
    padding: 10px;
    flex-grow: 1;
}

footer {
    flex-grow: 0;
    flex-shrink: 0;
    overflow-x: hidden;
}

.margin-width {
    margin: auto;
    max-width: 1100px;
}

.menu-nav {
    display: flex;
    justify-content: end;
    padding: 8px 0;
}
.menu-nav a {
    color: #000000;
    font-weight: bold;
}

.menu-nav a:hover {
    color: #ffffff;
    transition: color 0.2s ease-in;
}

.menu-nav li {
    margin-left: 16px;
}

.header-first {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
}

.header-title {
    margin-bottom: 16px;
}

.title-large {
    color: #ffffff;
    line-height: 0.85;
    /*font-size: clamp(16px, calc(20px + (36–20) * (100vw - 768px)/(1920–768)), 48px);*/

    /*font-size: clamp(64px, calc(1vw + 1rem), 20px);*/
    font-size: 64px;
}

.iceberg {
    margin-bottom: 16px;
    z-index: -1;
    animation: float 10s alternate infinite;
}

.mountains {
    position: relative;
    top: 6px;
    width: 100vw;
    transform: scale3d(calc(1 + 1 / 1.1), 1, 1);
}

.footer-content {
    background-color: #ffffff;
}


@media (min-width: 300px) and (max-width: 800px) {
    .title-large {
        font-size: calc(64px + (24 - 12) * ((100vw - 400px) / (800 - 400)));
    }

    .title-small {
        font-size: 20px;
    }

    .title-small-box {
        position: relative;
        top: 2px;
    }

    .row {
        flex-direction: column;
    }

    .footer-content {
        padding: 8px;
    }
}

@media (min-width: 800px) {
    .title-large {
        font-size: 128px
    }

    .title-small {
        font-size: 38px;
    }

    .title-small-box {
        position: relative;
        top: 15px;
    }

    main {
        padding: 16px;
        /*margin: auto;*/
    }

    .iceberg {
        position: absolute;
        width: 30vw;
        height: 30vh;
        top: 270px;
        left: 50%;
        transform: scale(1.0);
        animation: float 14s alternate infinite;
    }

    .row {
        flex-direction: row;
    }

    .footer-content {
        padding: 16px;
    }
}

.title-small-box {
    position: relative;
}

.title-small {
    color: #000000;
    /*font-size: 32px;*/
    /*font-size: clamp(24px, calc(1vw + 1rem), 20px);*/
    font-weight: 100;
    font-family: 'Sarabun';
    text-transform: uppercase;
}

.event-info-box {
    width: 100%;
    margin-top: 20px;

}

.event-info-box h2 {
    text-transform: uppercase;
    color: #000000;
}

.event-date {
    font-size: 28px;
    font-weight: 200;
    color: #ffffff;
}
hr.solid {
    max-width: 50%;
    margin: 0;
    border-top: 1px solid #ffffff;
        margin-top: 28px;
    margin-bottom: 28px;
}

.mountains {
    position: relative;
    top: 6px;
    transform: scale3d(calc(1 + 1 / 1.1), 1, 1);
}

.footer-content {
    background-color: #ffffff;
}

.row {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
article.about h2 {
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 20px;
}

article.about h3 {
    color: #ffffff;
    text-transform: uppercase;
}

article.about p {

}



@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
     
        transform: scale(1.09);
       
    }
    100% {

        transform: translatey(-20px);
    }
}
